<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinyin.liusirui.pyinappdev">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/layout_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.pinyin.layout.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pinyin.layout.LoginActivity" />
        <activity android:name="com.pinyin.layout.PassResetActivity" />
        <activity android:name="com.pinyin.layout.RegisterActivity" />
        <activity android:name="com.pinyin.layout.ForgetActicity"></activity>
    </application>

</manifest>